@charset "UTF-8";
/*-------------------------------------------------------------------Extras--------------------------------------------------------------------------*/
/*------------Reset------------*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------ Variables ------------*/

:root {
    --navbar-color: #082032;
    --footer-color: #212529;
}

/*------------ Utilidades ------------*/
.color-dark {
    color: #262225;
}

.color-grey {
    color: #40393E;
}

.color-lgreen {
    color: #3CA6A6;
}

.color-blue {
    color: #024959;
}

/*-------------------------------------------------------------------Secciones--------------------------------------------------------------------------*/
/*-------General------*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #212529;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main" "footer";
}

a {
    text-decoration: none;
    color: #f5f5f5;
}

a:hover {
    color: #3CA6A6;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.75rem;
}

h6 {
    font-size: 0.75rem;
}

p {
    font-size: 1.3rem;
}


/*-------Header------*/
.navbar-nav {
    font-weight: bold;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
    .contanier-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-brand img {
        max-width: 125px;
    }
}

@media screen and (min-width: 401px) {
    .contanier-fluid {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-brand img {
        max-width: 250px;
    }
}

/*----hOME----*/
#main {
    grid-area: main;
    background-image: url(../img/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* .banner {
    width: 100%;
    height: 100vh;
    background-image: url("../img/4.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #f5f5f5;
}

.banner__img {
    width: 50vw;
}

.banner img {
    width: 40vw;
    border-radius: 1rem;
}

.banner__text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/newsletter.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 90%;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50vw;
    height: 100vh;
    text-align: center;
    font-size: 1.5rem;
}

.banner__text h1 {
    color: #3CA6A6;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.banner__text h2 {
    color: #3CA6A6;
    font-size: 1.5rem;
    width: 55%;
}

.banner__text label {
    color: #3CA6A6;
    font-size: 1.2rem;
    margin: 2% 0% 2% 0%;
    width: 50%;
}

.banner__text form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__text form input,
.banner__text .form__article form textarea,
.form__article .banner__text form textarea {
    font-size: 1rem;
    width: 20vw;
    height: auto;
    border-radius: 0.5rem;
    margin: 2% 0%;
    padding: 5px;
}

.banner__text form .button {
    padding: 12px 5px;
} */
#sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#main section {
    /* background-color: #0D191C; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* background: linear-gradient(hsl(0 0% 0% /0), hsl(255 0% 50%/0.2) 10%, hsl(0 0% 0%/1)); */
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    /* .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: auto;
        padding: 2% 0%;
    }

    .banner__img {
        width: 100%;
    }

    .banner img {
        width: 60vw;
        border-radius: 1rem;
        margin-left: 20%;
    }

    .banner__text {
        background-image: none;
        background-color: rgba(238, 238, 238, 0.4);
        color: #f5f5f5;
        width: 60vw;
        height: auto;
        text-align: center;
        font-size: 1.5rem;
        margin: 5% 5%;
        border-radius: 1rem;
    }

    .banner__text h1 {
        font-size: 1.4rem;
        color: #f5f5f5;
        padding: 2% 0%;
    }

    .banner__text h2 {
        font-size: 1.2rem;
        color: #f5f5f5;
        padding: 2% 0%;
        width: 50vw;
    }

    .banner__text label {
        font-size: 1rem;
        color: #f5f5f5;
        padding: 2% 0%;
        width: 50vw;
    }

    .banner__text form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner__text form input,
    .banner__text .form__article form textarea,
    .form__article .banner__text form textarea {
        font-size: 1rem;
        width: 50vw;
        height: auto;
        border-radius: 0.5rem;
        margin: 2% 0%;
        padding: 5px;
    } */
}


/*-------Footer------*/
#footer {
    grid-area: footer;
    background-color: var(--footer-color);
}

#footer .footer__imagen {
    height: 10vh;
    /* max-height: 10vh; */
}

#footer ul {
    list-style: none;
    color: #f5f5f5;
    text-align: center;
}

#footer ul li {
    display: inline-block;
    margin: 0px 2vw 0px 0px;
    text-align: center;
    transition-duration: 300ms;
    cursor: pointer;
}

#footer ul li:hover {
    transform: scale(1.2);
}

#footer i {
    font-size: 1.5rem;
    color: #f5f5f5;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 350px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer img {
        aspect-ratio: 134/113;
        max-width: 76px;
    }

    .footer i {
        font-size: 0.8rem;
    }
}

/*-------------------------------------------------------------------componentes--------------------------------------------------------------------------*/
/*-------Banner------*/
#banner {
    width: 90svw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner img {
    border-radius: 1rem;
    width: 75svw;
    margin-top: 20px;
    box-shadow: 0 0 60px 20px #6a656b6a;
}


/*-------Carrousel------*/
#carrousel {
    width: 75svw;
    height: 80svh;

}

#carouselExampleCaptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.carousel-inner {
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 20px #6a656b6a;
    /* in order: x offset, y offset, blur size, spread size, color */

}

.carousel-item img {
    width: 75svw;
    height: 75svh;
    object-fit: fill;

}

@media screen and (min-width: 0px) and (max-width: 768px) {
    #carouselExampleCaptions {
        height: 80svh;
        width: auto;
    }


    .carousel-inner {
        border-radius: 0.5rem;
    }

    .carousel-inner img {
        height: 60svh;
        width: 70svh;
    }

    .carousel-caption {
        background-color: rgba(34, 38, 42, 0.7);
        margin: 1% 1%;
        border-radius: 1rem;
        margin-bottom: 5%;
    }

    .carousel-caption h2 {
        font-size: 1.2rem;
        text-align: center;
    }

    .carousel-caption p {
        font-size: 0.8rem;
        text-align: center;
        padding: 2%;
    }
}


/*-------process cards------*/
#process {
    width: 90svw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.process_container {
    width: 75svw;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.process_container img {

    opacity: 50%;
    width: 75svw;
}

.process_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-90deg, #10323cb4, #10323C00);
    width: fit-content;
}

.process_img {
    padding: 3px;
}

.process_img video {
    width: auto;
    max-height: 320px;
    border-radius: 2rem;
    padding: 20px;
}

.process_text {
    margin: 0px 25px 0px 25px;
    padding: 3px;
    width: auto;
    padding: 20px;
    max-height: 350px;
}

.process_text h2 {
    margin-bottom: 1rem;
    font-size: xx-large;
    text-align: center;
    color: #e4e6ebac;
}

.process_text p {
    text-align: justify;
    padding: 1rem 3rem;
    font-weight: 500;
    color: #e4e6ebac;
}