<div>
    <h1>Olvidaste tu contraseña?</h1><br>
    <form method="post" action="/api/session/forgot">
        <input type="text" placeholder="e-mail" name="email"/><br>
        <input type="password" placeholder="password" name="password"/><br>
        <button type="submit">Restablecer Contraseña</button>
    </form>
</div>