<div class="newPass_form">
    <h1>Olvidaste tu contrase침a?</h1><br>
    <p>Ingresa tu correo a continuaci칩n para restablecer tu contrase침a</p>
    <form method="post" action="/api/session/newPassword">
        <input type="text" placeholder="e-mail" name="email"/>
        <button>Recuperar Contrase침a</button>
    </form>
</div>
