<div class="signup_form">
    <h1>Sign Up</h1> <br>   
    <form method="post" action="/api/session/signup" enctype="multipart/form-data">
        <input type="text" placeholder="e-mail" name="email"/><br>
        <input type="text" placeholder="Nombre" name="name"/><br>
        <input type="text" placeholder="Apellido" name="last_name"/><br>
        <input type="number" placeholder="Edad" name="age"/><br>
        <input type="password" placeholder="Password" name="password"/><br>
        <input type="file" placeholder="Imagen de pérfil" name="avatar"/><br>
        <button type="submit">Registrarse</button>
    </form>
</div>

