<div class="compraRealizada">
<h1>✅Compra Confirmada!</h1>
<h2>Se te ha enviado un email con los detalles de tu compra</h2>
<h2>Puedes volver a tu perfil <a href="/profile">Aquí</a></h2>
<img src="/img/home.png" alt="Compra confirmada">
</div>