<div class="createproduct_form">
    <h1>Crear un Producto</h1> <br> 
    <h2><p>Bienvenido</p><br> </h2>  
    <form method="post" action="/api/products" enctype="multipart/form-data">
        <input type="text" placeholder="title" name="title"/><br>
        <input type="text" placeholder="description" name="description"/><br>
        <input type="number" placeholder="price" name="price"/><br>
        <input type="file" placeholder="imagen" name="thumbnail"/><br>
        <input type="number" placeholder="code" name="code"/><br>
        <input type="number" placeholder="stock" name="stock"/><br>
        <input type="text" placeholder="category" name="category"/><br>
        <input type="bolean" placeholder="status" name="status"/><br>
        <button type="submit">Crear Producto</button>
    </form>
</div>