<div class="delete_form">
    <h1>Eliminar un Producto</h1> <br>  
    <form method="post" action="/api/products/delete">
        <label for="pid">Nro de Id del producto a eliminar</label><br>
        <input type="text" placeholder="ProductId" name="pid"/><br>
        <button type="submit">Eliminar Producto</button>
    </form>
</div>