<div id="sections">{{!-- todo esto se inserta en el body de main.handlebars --}}
        <section id="banner">
            <div class="banner">
                <img src="/img/banner.png" alt="Banner Aroma cafe">
            </div>   
        </section>
        <section id="carrousel">
            <div id="carouselExampleCaptions" class="carousel slide"  data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="./img/home.png" class="d-block img-fluid" alt="Bienvenidos">
                    </div>
                    <div class="carousel-item" data-bs-interval="10000">
                        <img src="./img/coffeeday.png" class="d-block img-fluid" alt="Coffe Day">
                    </div>
                    <div class="carousel-item" data-bs-interval="10000">
                        <img src="./img/oferta.png" class="d-block img-fluid" alt="Oferta">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <section id="process">
            <div class="process_container">
                <div>
                    <img src="/img/nuesto caffee.png" alt="produccion de cafe">
                </div>
                <div class="process_card">
                    <div class="process_img">
                        <video autoplay muted loop>
                            <source src="https://firebasestorage.googleapis.com/v0/b/react-nicolasabraham.appspot.com/o/cafe%2Fplant_resized.mp4?alt=media&token=a37d9b97-a140-4c46-bfa2-c676a82901c2" type="video/mp4">
                        </video>
                    </div>
                    <div class="process_text">
                        <h2>Siembra</h2>
                        <p>La mayoría de plantaciones se encuentran por encima de los 600 metros sobre el nivel del mar. La planta del cafe, conocida como el cafeto, tarda entre 2 y 4 años en crecer y dar sus primeros frutos. Entre la floración y la cosecha de café pasan entre 6 y 11 meses, según el clima y las precipitaciones. </p>
                    </div>
                </div>
                <div class="process_card">
                    <div class="process_text">
                        <h2>Picking</h2>
                        <p>Proceso manual y selectivo de escoger y recoger las bayas en pleno estadio de madurez, dejando en las plantas las que todavía se encuentren verdes. La cosecha que así se obtiene es más homogénea y, por ende, de mayor calidad. </p>
                    </div>
                    <div class="process_img">
                        <video autoplay muted loop>
                            <source src="https://firebasestorage.googleapis.com/v0/b/react-nicolasabraham.appspot.com/o/cafe%2Fpicking_resized.mp4?alt=media&token=2bbc94ff-74cd-4d25-8916-022c9399882f" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="process_card">
                    <div class="process_img">
                        <video autoplay muted loop>
                            <source src="https://firebasestorage.googleapis.com/v0/b/react-nicolasabraham.appspot.com/o/cafe%2Ftoasting_resized.mp4?alt=media&token=04ecc5b5-8668-4750-8c1e-59b236a44cc6" type="video/mp4">
                        </video>
                    </div>
                    <div class="process_text">
                        <h2>Tostado</h2>
                        <p>Durante el tostado el grano adquiere el sabor y aroma particular por el que reconoces tu deliciosa taza de café. Para lograrlo ese sabor tan caracteristico, cuidamos cada aspecto de proceso. </p>
                    </div>
                </div>
                <div class="process_card">
                    <div class="process_text">
                        <h2>il Barista</h2>
                        <p>En Aroma caffee utilizamos los mejores granos de altura. Cuidamos en cada proceso todos los aspectos del grano, para preparar el mejor café.</p>
                    </div>
                    <div class="process_img">
                        <video autoplay muted loop>
                            <source src="https://firebasestorage.googleapis.com/v0/b/react-nicolasabraham.appspot.com/o/cafe%2Fbarista_resized.mp4?alt=media&token=a272d5fd-0b2b-4bd4-b323-ffb82dc62bc5" type="video/mp4">
                        </video>
                    </div>
                </div>                
            </div>
        </section>
</div>

