<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/{{style}}.css">
    <title>document</title>
</head>
<body>
        <header id="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid px-3 mx-2">
                    <a class="navbar-brand" href="/"><img src="/img/logogris.png" alt="Logo aroma caffe"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" href="/">Home</a>
                            <a class="nav-link" href="/products">Productos</a>
                            <a class="nav-link" href="/profile">Perfil</a>
                            <a class="nav-link" href="/login">LogIn</a>
                            <a class="nav-link" href="/signup">Sign Up</a>
                            <a class="nav-link" href="/chat">Chat</a>
                        </div>
                    </div>
                </div>
            </nav>
    </header>
<section id="{{sectionName}}">
    {{{body}}} 
</section>
<footer id="footer">
    <div class="footer sticky-bottom">
        <img class="footer__imagen px-3" src="/img/logofooter4.png" alt="logo del footer">
        <ul class="px-3">
            <li><a href="" alt="contacto"><i class="bi-telephone"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="bi-twitter" alt="Twitter"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="bi-instagram" alt="Instagram"></i></a></li>
        </ul>
        </div>
    </footer>
    <!---------------------------------------------- Bootstrap JS Script ---------------------------------------------->
    {{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>